services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: server
    environment:
      - LOG_LEVEL=debug
      - DB_HOST=db
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8081:8080"
    volumes:
      - srvlogs:/src/logs
    deploy:
      resources:
        limits:
          memory: 128M
    networks:
      - dbnet

  db:
    image: postgres:18
    container_name: db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: school_museum
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
      - ./init/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d school_museum"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    deploy:
      resources:
        limits:
          memory: 256M
    networks:
      - dbnet

  frontend:
    image: nginx:1.27-alpine
    container_name: frontend
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - server
    deploy:
      resources:
        limits:
          memory: 32M
    networks:
      - dbnet


volumes:
  pgdata:
  srvlogs:

networks:
  dbnet:
    driver: bridge
